@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="postsContainer" style="display: flex;flex-direction: column;gap: 10px;overflow-y: auto;max-height: 90vh;"></div>

<div class="fixed bottom-2 right-2 p-2">
    <a href="/createPost">
    <button class="bg-blue-500 p-3 rounded-full shadow-lg hover:shadow-xl active:scale-90 transition-transform duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </button>
    </a>
</div>

@section Scripts {
    <script src="~/js/renderPosts.js"></script>
    <script src="~/js/postInteractions.js"></script>
}